
<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
      
<meta name="viewport" content="width=device-width, initial-scale=1.0">

      <ul class="navbar-nav">
        <li class="active" style="margin-left: 100px;"><a href="admin-dashboard">Dashboard</a></li>
        <li style="margin-left: 150px;"><a href="add-user">Employee Creation</a></li>
        <li style="margin-left: 200px;"><a href="accounts">Accounts</a></li>
        <li style="margin-left: 250px;"><a href="Purchase">Purchase</a></li>
        <li style="margin-left: 250px;"><a href="Workforce">Workforce</a></li>
       
      </ul>
    </div>
  </nav>