<nav class="navbar navbar-expand-sm bg-dark text-white ">
  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <div class="container-fluid">
      <ul class="navbar-nav ">
        <li class="active" style="margin-left: 150px;"><a href="user-dashboard">Dashboard</a></li>
        <li  style="margin-left: 200px;"><a href="account">Accounts</a></li>
        <li  style="margin-left: 250px;"><a href="Purchase">Purchase</a></li>
        <li style="margin-left: 250px;"><a href="logout">Logout</a></li>
  
      </ul>
    </div>
  </nav>
 
